.homepage {
  section {
    padding: 50px 15px 30px;

    @include media-breakpoint-up(md) {
      padding: 80px 15px 40px;
    }
  }

  .media {
    .media-body {
      font-size: 22px;
    }
  }

  .sync-hr {
    width: 150px;
  }
}