@font-face {
  font-family: 'Omnes';
  src: url('../fonts/Omnes-Medium.woff2') format('woff2'),
  url('../fonts/Omnes-Medium.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Omnes';
  src: url('../fonts/Omnes-Light.woff2') format('woff2'),
  url('../fonts/Omnes-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
               
@font-face {
  font-family: 'Omnes';
  src: url('../fonts/Omnes-Semibold.woff2') format('woff2'),
  url('../fonts/Omnes-Semibold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Omnes';
  src: url('../fonts/Omnes-Semibold.woff2') format('woff2'),
  url('../fonts/Omnes-Semibold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Omnes';
  src: url('../fonts/Omnes-Regular.woff2') format('woff2'),
  url('../fonts/Omnes-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Omnes';
  src: url('../fonts/Omnes-ExtraLight.woff2') format('woff2'),
  url('../fonts/Omnes-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

